Django==2.2.9
django-bootstrap4==1.1.1
django-admin-honeypot==1.1.0
django-loginas==0.3.8
django-taggit==1.2.0
bootstrap_admin==0.4.3
mysqlclient==1.4.6
python-ldap==3.2.0
pyodbc==4.0.28
pycryptodome==3.9.6
pysftp==0.2.9
